* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
}

#navbar {
    background-color: #FFF3F1;
    color: #49223A;
    padding: 20px 30px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.logo-title {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.logo-title img {
    width: 30px;
}

.nav-right-items {
    list-style-type: none;
    display: flex;
    gap: 25px;
    font-weight: bold;
    align-items: center;
}

.landing {
    background: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    min-width: 100%;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #49223A;
    padding: 0 20px;
}

.landing-text {
    width: 500px;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(255, 255, 255, .3) ;
    padding: 15px;
    border-radius: 10px;
}

.landing-header {
    font-size: 40px;
    margin-bottom: 10px;
    
}

.landing-button {
    padding: 10px;
    width: 180px;
    border-radius: 10px;
    color: #49223A;
    font-weight: bold;
    background-color: #F8B081;
    border: 2px solid transparent;
    font-size: 15px;
}

#food-cards {
    background-color: #FFF3F1;
    color: #49223A;
    text-align: center;
    padding: 50px;  
}

.landing-food-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.landing-card {
    flex: 1;
    width: 400px;
    margin-top: 20px;
} 

.landing-card img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 15px 0;
}

.landing-card-title {
    margin-bottom: 20px;
}

.landing-card a {
    text-decoration: none;
    padding: 10px;
    background-color: #F8B081;
    color: #49223A;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
}