* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden; /*prevents horizontal scrolling*/
}

#navbar {
    background-color: #FFF3F1;
    color: #49223A;
    padding: 10px 20px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.logo-title {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.logo-title img {
    width: 30px;
    object-fit: cover;
}

.nav-right-items {
    list-style-type: none;
    display: flex;
    gap: 25px;
    font-weight: bold;
    align-items: center;
}

.nav-right-items a {
    text-decoration: none;
    color:  #49223A;
}

.landing {
    background: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    max-width: 100%;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #49223A;
    padding: 0 20px;
}

.landing-text {
    width: 500px;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(255, 255, 255, .3) ;
    padding: 15px;
    border-radius: 10px;
}

.landing-header {
    font-size: 40px;
    margin-bottom: 10px;
    
}

.landing-button {
    padding: 10px;
    width: 180px;
    border-radius: 10px;
    color: #49223A;
    font-weight: bold;
    background-color: #F8B081;
    border: 2px solid transparent;
    font-size: 15px;
    text-decoration: none;
}

#food-cards {
    background-color: #FFF3F1;
    color: #49223A;
    text-align: center;
    padding: 50px;  
}

.landing-food-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}

.landing-card {
    flex: 1 1 400px;
    max-width: 100%;
    margin-top: 20px;
} 

.landing-card img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 15px 0;
    object-fit: cover;
}

.landing-card-title {
    margin-bottom: 20px;
}

.landing-card a {
    text-decoration: none;
    padding: 10px;
    background-color: #F8B081;
    color: #49223A;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
}

.section-header {
    font-size: 15px;
}

.landing-vision {
    display: flex;
    flex-wrap: wrap;
    color: #FFF4EE;
    background: #571C44;
    max-width: 100%;
}

.landing-vision img {
    min-width: 300px;
    flex: 1;
    object-fit: cover;
}

.landing-vision .vision-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-width: 300px;
}

.vision-description {
    font-size: 23px;
}

@media (max-width: 768px) {
    .landing-vision {
        position: relative;
    }
    
    .landing-vision img {
        width: 100%;
        min-width: 100%;
    }
    
    .landing-vision .vision-text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(87, 28, 68, 0.7);    min-width: 100%;
    }
}

.landing-offer {
    background-color: #FFF4EE;
    color: #49223A;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.offer-text, .offer-img {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex: 1 1 400px;
    max-width: 100%
}

.section-title {
    font-size: 25px;
    font-weight: bold;
}

.offer-img img {
    flex: 1;
    max-width: 500px;
    padding: 50px
}

.landing-approach {
    display: flex;
    background-color: #FEE9DF;
    flex-wrap: wrap;
    padding: 40px 0;
    max-width: 100%;
}



.approach-right, .approach-left {
    flex: 1 1 400px;;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    gap: 20px;
    justify-content: center;
    max-width: 100%;
    color: #531E44;
}

.approach-img-top, .approach-img-bottom {
    display: flex;
    max-width: 100%;
}

.approach-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 1 400px;
    padding: 20px;
    background-color: #FFD38E;
    margin: 10px;
    color: #4B391B;
}

.landing-approach img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.landing-contact {
    background-color: #004E46;
    color: #FFF4EE;
}

.landing-contact-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
}

.contact-content {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    max-width: 100%;
}

.contact-form, .contact-info {
    flex: 1 1 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
}

form {
    flex: 1;
    padding: 20px;
    margin: 30px;
    max-width: 400px;
    border: 4px solid #FAAF82;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
}

form input, form textarea {
    width: 300px;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border-radius: 10px;
    background-color: #FAAF82;
    color: #49223A;
    font-weight: bold;
    border: transparent;
    font-size: 15px;
}

.contact-info-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px
}

.contact-info-icon {
    display: flex;
    gap: 30px;

}

.contact-info-icon img {
    width: 30px;
    height: 25px;
}

.contact-info-icon.phone-icon > img{
    width: 38px;
    
}

.contact-info-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
}

footer {
    display: flex;
    background-color: #401F1F;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF4EE;
}


/* RECIPES PAGE */

.recipe-hero {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #FFF4EE;
    color: #49223A;
    padding-bottom: 40px;
}

.recipe-hero-top {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    width: 100%;
    flex-wrap: wrap;
}

.recipe-hero-text {
    flex: 3;
    max-width: 700px;
    min-width: 300px;
}

.recipe-hero-header {
    padding-bottom: 20px;
    font-family: 'Marck Script', 'Lexend', sans-serif;
    font-size: 37px;
}

.recipe-hero-description {
    width: 100%; 

}

.recipe-hero-rating {
    flex: 1;
    display: flex;  
    justify-content: flex-end;
    font-size: 30px;
}

.recipe-hero-img img {
    border-radius: 25px;
    max-width: 100%;
    padding: 20px 40px;
}

.recipe-content {
    background-color: #FFF4EE;
    color: #49223A;
    display: flex;
    padding: 30px 40px;
    gap: 20px;
    max-width: 100%;
    flex-wrap: wrap;
}

.recipe-content-ingredients, .recipe-content-directions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 1 400px;
    padding: 20px;
    max-width: 100%;
}

.recipe-content-icons {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.recipe-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.recipe-icon img {
    width: 30px;
}

.recipe-content-header {
    font-weight: bold;
    font-size: 20px;
}

.recipe-ingredients {
    list-style-type: none;
    text-align: center;
}


.recipe-questions {
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    justify-content: center;
    align-items: center;
    background-color: #FEE9DF;
    color: #531E44;
    gap: 30px;
    max-width: 100%;
}

.recipe-question-header {
    font-size: 25px;
    font-weight: bold;
}

.recipe-questions a {
    padding: 10px;
    border-radius: 10px;
    background-color: #F8B081;
    border: transparent;
    font-weight: bold;
    color: #49223A;
    text-decoration: none;
}